* {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 100%;
  float:left;
  margin: auto;
  height: auto;
}
img {
  width: 80%
  
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
    p{
        color: rgb(208, 158, 32);
    }
    h1{
         color:rgb(208, 158, 32);
    }
    body{
        background-color: blanchedalmond;
    }

